/*  Header */

.container{
    width:100%;
}
.contents-header{
    width:100%;
    height:50px;
    background:#ececec;
}

.header-logo{
    text-indent:-9999em;
    display:block;
    background:url(../images/header_logo.png) no-repeat;
    width:306px;
    height:50px;
    margin:0 auto;
}

.header{
    margin-bottom:67px;
}


.navigation-wrap{
    position:relative;
}

.navigation{
    height:47px;
    position:relative;
    z-index:10;
}

.gnb{
    position:relative;
    width:100%;
}

.gnb-item{
    float:left;
}

.gnb-list.user{
    width: 117px;
}

.gnb-list.fact{
    width: 117px;
}

.gnb-list.sns{
    width: 117px;
}

.gnb-list.charge{
    width: 117px;
}

.gnb-list{
    position:relative;
    float:left;
    margin-right:120px;
    text-align:center;
}


.gnb-link.user{
    width:118px;
    background-position:0 0;
}

.gnb-link.fact{
    width:101px;
    background-position:-312px 0;
}


.gnb-link.sns{
    width:34px;
    background-position:-633px 0;
}

.gnb-link.charge{
    width:70px;
    background-position:-876px 0;
}

.gnb-link{
    display:inline-block;
    text-indent:-9999em;
    height:40px;
    background:url(../images/gnb-menu.png) no-repeat;
    padding:37px 0 37px;
}


.gnb-link.user.on{
    width:120px;
    background-position:0 -125px;
}

.gnb-link.fact.on{
    width:105px;
    background-position:-312px -125px;
}

.gnb-link.sns.on{
    width:36px;
    background-position:-632px -125px;
}

.gnb-link.charge.on{
    width:74px;
    background-position:-876px -125px;
}

.gnb-depth2{
    width:200px;
    box-sizing:border-box;
    position:absolute;
    right:-47px;
    /*background:#0c60f7;*/
    z-index:10;
    display:none;
}



.gnb-depth2-item{
    padding-top:20px;
    padding-bottom:20px;
}

.gnb-depth2-link{
    display:block;
    font-size:15px;
    color:#fff;
}


.gnb-bg{
    background:#0c60f7;
    width:100%;
    /*height:168px;*/
    margin-top:67px;
    height:0;
    position:absolute;
    top:48px;
    left:0;
    z-index:2;
}

.util-menu{
    float:right;
    margin-top:55px;
}

.util-item.login{
    width: 40px;
}

.util-item.member{
    width: 55px;
}

.util-item{
    float:left;
    margin-left:20px;
    text-align:center;
}

.util-link.login{
    width:40px;
    background-position:-1147px 0;
}

.util-link.member{
    width:55px;
    background-position:-1217px 0;
}

.util-link{
    display:inline-block;
    text-indent:-9999em;
    height:20px;
    background:url(../images/gnb-menu.png) no-repeat;
}


.nav{
    width:100%;
    height:55px;
    background:#0d5ffb;
}

.nav-wrap{
    position:relative;
}

.nav-txt{
    padding-left:50px;
    color:#fff;
    font-size:13px;
    font-weight:bold;
    line-height:4.5em;
}

.nav-txt.home{
    text-indent:-9999em;
    display:inline-block;
    background:url("../images/icon_home.png") no-repeat;
    width:25px;
    height:25px;
    position:absolute;
    top:1em;
    left:0;
}

.nav-txt.first:after{
    display:block;
    content:"";
    background:url("../images/nav_arrow.png") no-repeat;
    width:10px;
    height:22px;
    position:absolute;
    top:1.3em;
    left:12.5em;
}




/*  Header */

/*Section*/

.section{
    position:relative;
    width:100%;
    height:auto;
    padding-bottom:160px;
}

.section-header{
    position:relative;
    height:175px;
    margin-bottom:30px;
}

.section-header-genre{
    position:absolute;
    bottom:15px;
    right:0;
    display:block;
    text-indent:-9999em;
    background:url(../images/genre.png) no-repeat;
    width:778px;
    height:33px;
}

.board-subject{
    padding-top:60px;
    font-size:30px;
    font-weight:bold;
}

.section-contents-wrap{
    position:relative;
    width:100%;
    height:auto;
    background:url(../images/my-memo-bg.png) no-repeat;
}
.draft, .my-memo{
    padding-top:65px;
}

.section-contents-header{
    box-sizing:border-box;
    padding:55px 0 30px 120px;
    width:100%;
    height:275px;
    background:url("../images/my-memo-header-bg.png") no-repeat ;
    background-size:100% 275px;
}

.contents-header-head{
    margin-bottom:40px;
    font-size:35px;
    color:#eeff31;
    font-weight:bold;
}

.contents-header-txt{
    font-size:25px;
    color:#fff;
    font-style:italic;
    font-weight:bold;
    line-height:2;
}

.contents-draft-contents{
    background:url("../images/my-memo-content1-bg.png")no-repeat;
    width:100%;
    height:755px;
    margin-top:80px;
    padding-top:55px;
}

.contents-my-memo-contents{
    position:relative;
    background:url("../images/my-memo-content2-bg.png")no-repeat;
    width:100%;
    height:1020px;
    margin-top:80px;
    padding-top:55px;
}

.post-it-contents-wrap{
    padding-top:120px;
}


.post-it-wrap{
    float:left;
    width:285px;
    height:285px;
    text-align:center;
    padding-top:50px;
}

.post-it-wrap.korea{
    background:url("../images/orange-postit.png") no-repeat;
}

.post-it-wrap.oriental{
    background:url("../images/pink-postit.png") no-repeat;
}

.post-it-wrap.western{
    background:url("../images/yellow-postit.png") no-repeat;
}

.post-it-wrap.world{
    background:url("../images/skyblue-postit.png") no-repeat;
}

.post-it-wrap.first{
    margin-left:80px;
    margin-bottom:7px;
}

.post-it-wrap.second{
    margin:0 70px;
    margin-bottom:7px;
}

.post-it-wrap.third{
    margin-right:80px;
    margin-bottom:7px;
}

.post-it-txt{
    padding-top:15px;
    font-size:15px;
    font-style:italic;
    color:#333;
    font-weight:bold;
}



.my-bottom-util{
    background:url("../images/my-memo-bottom-bg.png") no-repeat;
    width:100%;
    height:230px;
    position:absolute;
    bottom:120px;
    right:-10px;
}

.page-btn-wrap{
    position:absolute;
    bottom:110px;
    right:515px;
}

.page-btn{
    border:none;
    width:25px;
    height:25px;
    text-indent:-9999em;
    margin-right:7px;
    cursor:pointer;
}

.page-btn.first{
    background:url("../images/btn-pagenum1.png")no-repeat;
}

.page-btn.second{
    background:url("../images/btn-pagenum2.png")no-repeat;
}

.page-btn.third{
    background:url("../images/btn-pagenum3.png")no-repeat;
}

.page-btn.forth{
    background:url("../images/btn-pagenum4.png")no-repeat;
}

.page-btn.fifth{
    background:url("../images/btn-pagenum5.png")no-repeat;
}

.sns-util-menu{
    position:absolute;
    bottom:60px;
    right:50px;
    width:318px;
    height:138px;
}

.sns-util-menu-wrap{
    margin:0 auto;
    margin-top:60px;
}

.bottom-util{
    text-indent:-9999em;
    float:left;
    margin-right:10px;
    width:30px;
    height:30px;
}


.bottom-util.kakaotalk{
    background:url("../images/icon_kakaotalk.png") no-repeat;
    margin-left:65px;
}

.bottom-util.twitter{
    background:url("../images/icon_twitter.png") no-repeat;
}

.bottom-util.facebook{
    background:url("../images/icon_facebook.png") no-repeat;
}

.bottom-util.line{
    background:url("../images/icon_line.png") no-repeat;
}

.bottom-util.add-memo{
    background:url(../images/icon_my.png) no-repeat;
}



/*section*/

/*footer*/

.footer{
    border-top:2px solid #468a3f;
    height:250px;
    color:#333;
    font-size:13px;
}

.footer-top-wrap{
    text-align:center;
    height:50px;
    margin-top:30px;
    border-top:1px solid #777;
    border-bottom:1px solid #777;
}

.footer-top-txt{
    margin-right:15px;
}

.footer-top-txt:after{
    display:inline-block;
    content:"l";
}

.footer-top-txt:last-child:after{
    display:none;
}

.footer-top-txt-link{
    line-height:4;
    padding-right:20px;
}

.footer-bottom-wrap{
    margin-top:30px;
    text-align:center;
    line-height:1.3;
}

.footer-bottom-txt{

}

.footer-bottom-txt.tel{
    display:block;
}
.footer-bottom-txt.copyright{
    display:block;
    font-size:12px;
    padding-top:15px;
}



/*footer*/














.inner{
    width:1170px;
    margin:0 auto;
}